/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}



/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 html {
   box-sizing: border-box;
      overflow-x: hidden;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }
 html a {
   color: white;
   text-decoration: none;

 }
nav {
  font-family: 'Muli', sans-serif;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  padding: 5px 30px;
  height: 45px;
  min-width: 830px;
}
nav .explore {
  float: left;
  font-weight: 700;
  font-size: 11px;
  position: absolute;
  top: 4px;
  padding-right: 35px;
  padding-bottom: 10px;
}
.natgeo {
  position: absolute;
  padding: 0 20px 13px 0;
  width: 172px;
  top: 4px;
  margin-top: 8px;
  border-right: 1px solid #565656;
}
nav .natgeo:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 0.3rem solid transparent;
  border-top-color: white;
  position: absolute;
  left: 140px;
  top: 6px;
}
nav .bigger {
  font-weight: 700;
  font-size: 11px;
}
nav .global {
  font-family: Helvetica;
  color: #989898;
  display: block;
  position: absolute;
  left: 228px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0;
  letter-spacing: .5px;
  width: 250px;
  padding: 12px 0px;
  margin-top: -3px;
  margin-bottom: 0;
}
nav .genious {
  color: #f3cd00;
  padding-right: 3px;
}
nav a {
  text-decoration: none;
}
nav a:hover{
  color: white;
}
nav li a {
  color: white;
}
nav li a:hover {
  text-decoration: underline;
}
nav ul {
  position: absolute;
  margin-top: 0;
  padding: 5px 0px;
  top:0;
  right: 0;
  color: white;
  list-style-type: none;
  z-index: 10;
  padding-right: 0;
  background-color: black;
}
nav li {
  padding: 10px;
  float: left;
  background-color: black;
}
nav .sign {
  font-size: 10px;
}
nav .usa {
  padding: 0 35px 16px 24px;
  border-left: 1px solid #565656;
}
nav .usa:hover {
  text-decoration: none;
}
nav .usa:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 0.3rem solid transparent;
  border-top-color: white;
  position: absolute;
  top: 22px;
  right: 30px;
}
/* end styling navbar */
header {
  margin-top: 0;
  height: 66px;
  border-bottom: 1px solid #e5e5e5;
}
header ul {
  list-style-type: none;
  color: black;
}
header ul a {
  color: #989898;
  text-transform: uppercase;
  float: left;
  padding: 0px 25px;
  margin-top: 15px;
  margin-left: -1px;
  border-left: 1px solid #989898;
  border-right: 1px solid #989898;
  border-collapse: collapse;
  font-family: 'Muli';
  font-size: 14px;
  letter-spacing: 3px;
}
.hide1 {
  border-left: none;
}
header img {
  margin: -10px 10px 0 22px;
  width: 61px;
  float: right;
}
.img1 {
  width: 195px;
  margin: -15px 18px;
  float: left;
  margin-right: 20px;
}
.content {
  clear: both;
}
header ul a:hover {
  color: black;
  border-left: 1px solid #f3cd00;
  border-right: 1px solid #f3cd00;
}
/* end styling header */
.content a{
  color: black;
}
.content {
  padding-top: 90px;
  width: 720px;
  margin-left: 40px;
}
.content h1 {
  font-size: 55px;
  font-family: Josefin Sans, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 10px;
  line-height: 60px;
}
.content h2 {
  font-size: 21px;
}
.content {
  max-width: 100%;
}
.elegy img {
  margin-top: -20px;
  max-width: 100%;
  padding-bottom: 5px;
}
.elegy a:hover {
  color: #979797;
}
.elegy a p {
  color: black;
}
.standard {
  font-family: Georgia, serif;
}
.ners {
  font-family: 'Muli';
  text-transform: uppercase;
  font-size: 13px;
  padding: 0px 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  letter-spacing: 2px;
  width: 295px;
}
/* artice styling */
.article-column {
  margin-top: 40px;
}
.container {
  margin-bottom: 20px;
}
.container a:hover {
  color: #979797;
}
.container a p {
  color: black;
}
.article-column img {
  width: 65%;
  z-index: -100;
}
.caption {
  float: right;
  width: 31%;
  padding-left: 8px;
}
.caption .ners {
  width: 230px;
}
/* article styling done */

.showmore {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Muli';
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 80px;
}
.show a:hover {
  color: #979797;
}
/* showmore button done*/

footer {
  font-family: 'Muli';
  clear: both;
  background-color: #f2f2f2;
  width: 100%;
  padding: 25px;
  padding-top: 15px;
}
.subscribe {
  border-left: 1px solid black;
  padding-left: 20px;
}
.subscribe p, .follow p {
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.subscribe input {
  border: none;
  border-radius: 0;
  padding: 13px 170px 13px 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Muli';
  font-weight: 700;
  letter-spacing: 2px;
  color: #757575;
}
.subscribe .signup {
  margin-left: -5px;
  background-color: black;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Muli';
  font-weight: 700;
  letter-spacing: 2px;
}
footer {
  height: 290px;
}
footer .small {
  font-size: 11px;
  color: #757575;
  padding-bottom: 20px;
}
.small a {
  color: #757575;
  text-decoration: underline;
}
.left {
  width: 600px;
}
.copywrite {
  font-size: 12px;
  line-height: 5px;
  color: #757575;
}
.follow {
  border-left: 1px solid black;
  padding-left: 20px;
  margin-left: 45px;
  margin-bottom: 70px;
}
.follow img {
  width: 45px;
  padding-right: 5px;
  margin-top: -10px;
}
.follow img:hover {
  opacity: .4;
}
footer .left {
  float: left;
}
footer .right {
  position: absolute;
  right: 20px;
  width: 33%;
}
footer .right ul {
  list-style-type: none;
}
footer .right li {
  text-transform: uppercase;
  font-size: 11px;
  float: left;
  letter-spacing: 2px;
  padding-right: 2em;
  line-height: 30px;
}
footer li a{
  color: #757575;
}
footer li a:hover {
  text-decoration: underline;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
